{% extends "offers/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">New Offer</legend>
                <div class="new-product"></div>
                    <p>In order to create an Offer you need to select one of the existent products. 
                        If the product that you want to enter doesn't appear in the list, create a new Product here.</p>
                    <a class="btn btn-primary" href="{% url 'product-create' %}" role="button">Create New Product</a>
                </div>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit Offer</button>
            </div>
        </form>
    </div>



    <script>
        $(function() {
            $.getJSON("{% static '/offers/companies.json' %}", {}, function (companies) {
                $("#id_company_name").autocomplete({
                    source: companies
                });
            });
    
            $("#id_address").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "https://secure.geonames.org/search",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            type: "json",
                            maxRows: 10,
                            name_startsWith: request.term,
                            username: "rogargon"                            // using this user because after register continue saying user not registered xD sorry
                        },
                        success: function( data ) {
                            console.log(data)
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name,
                                    stateOrProvince: item.adminName1,
                                    countryName: item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function( event, ui ) {
                    var name = ui.item.label + ui.item.value + ui.item.stateOrProvince + ui.item.countryName;
                    if (ui.item) {
                        $("#id_address").val(ui.item);                                                     
                    }
                }
            });
        });

    </script>


{% endblock content %}
