{% extends "offers/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.product_name}}</a>
              <a class="mr-2" href="#">{{ post.new_price}}</a>
              <a class="mr-2" href="#">{{post.old_price}}</a>
              <a class="mr-2" href="#">{{post.discount}}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'offer-detail' offer.id %}">{{ post.title }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}